@import "../../../assets/css/variables";

.about_container {

  .content {
    padding-top: 1rem;
  }

  .skill {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}

.call_to_action_container {

  &.background, .background {
    align-items: center;
    background-image: url('../../../assets/img/background/business-work-area.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-flow: column;
    height: 400px;
    justify-content: center;

    @media(max-width: $device--small--max_width) {
      background-size: auto 100%;
    }
  }

  .introduction {
    border: 1px solid #000000;
    background-color: rgba(191, 191, 191, 0.7);
    color: #000000;
    padding: 24px 24px 8px 24px;
  }
}

.contact_section {

  .contact_form {
    background-color: #EFEFEF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    label {
      display: none;
    }
  }

  .contact_info {
    padding-top: 1rem;

    .social-network {
      font-size: 2rem;
    }

    .sub_heading {
      display: none;
    }
  }
}

.services_container {

  .content {
    padding-top: 1rem;
    text-align: justify;
  }

  .heading {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
  }

  .icon {
    font-size: 2.5rem;
    text-align: center;
  }
}
