@import "./variables";

a {
  color: $color--theme--accent_1;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: $color--theme--primary;
  font-family: "Lobster", sans-serif;
  font-weight: bold;
}

h3 {
  color: $color--theme--accent_2;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.btn-primary {
  background-color: $color--theme--accent_1;
  border-color: $color--theme--accent_1;

  &:active, &:focus, &:hover {
    background-color: $color--theme--accent_1 !important;
    border-color: $color--theme--accent_1 !important;
  }

  &:focus, &:active:focus {
    box-shadow: 0 0 0 .2rem mix(white, $color--theme--accent_1, 50) !important;
  }
}

.content_limitter {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  @media (min-width: $device--medium--min_width) and (max-width: $device--medium--max_width) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $device--large--min_width) and (max-width: $device--large--max_width) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $device--extra_large--min_width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.rating {

  border: 1px solid #DEDEDE;
  width: 100%;

  &.rating-200 {
    max-width: 200px;
  }

  &.rating-250 {
    max-width: 250px;
  }

  &.rating-300 {
    max-width: 300px;
  }

  &.rating-350 {
    max-width: 350px;
  }

  &.rating-400 {
    max-width: 400px;
  }

  &.rating-450 {
    max-width: 450px;
  }

  &.rating-500 {
    max-width: 500px;
  }

  .rating-1 {
    width: 20%;
  }

  .rating-2 {
    width: 40%;
  }

  .rating-3 {
    width: 60%;
  }

  .rating-4 {
    width: 80%;
  }

  .rating-5 {
    width: 100%;
  }

  div {
    background-color: $color--theme--accent_1;
    height: 4px;
  }
}

.section_container {
  padding-bottom: 1rem;
  padding-top: 1rem;

  h2 {
    border-top: 1px solid rgba(191, 191, 191, 0.5);
    padding-bottom: 1rem;
    padding-top: 2.5rem;
    text-align: center;
  }
}

.section_container--no_heading {

  h2 {
    display: none;
  }
}
