$color--section--about--background: #A4EBF6;
$color--section--contact--background: #F6C9AA;
$color--section--experiences--background: #000000;
$color--section--header--background: #000000;
$color--section--services--background: #000000;
$color--theme--primary: #007BFF;

$device--super_small--max_width: 479.98px;
$device--extra_small--min_width: 480px;
$device--extra_small--max_width: 575.98px;
$device--small--min_width: 576px;
$device--small--max_width: 767.98px;
$device--medium--min_width: 768px;
$device--medium--max_width: 991.98px;
$device--large--min_width: 992px;
$device--large--max_width: 1199.98px;
$device--extra_large--min_width: 1200px;
